.stat__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    margin-top:10px;
}

.covid-stat{
   background-color: #e3e1e1;
   border-radius: 10px;
}

h1{
    font-size:1rem;
}

